/*  CSS RESPONSIVE MEDIA QUERY  FOR MOBILE  DEVICE  */
@media (max-width: 768px) {
    aside {
        left: -20%;
    }
    header,
    footer,
    main {
        left: 0;
        width: 100%;
    }
    header {
        padding: 0.5rem;
        height: 50px;
    }
    header .logo {
        font-size: 20px;
    }
    header button,
    header .nav-btn {
        display: block;
    }
    aside .search-area {
        display: flex;
    }
    header .links {
        display: none;
    }
    footer {
        flex-direction: column;
    }
    .hero {
        height: 60vh;
        display: flex;
        align-items: center;
    }

    .slide-title h3 {
        font-size: 23px;
    }
    .slide-title p {
        font-size: 16;
        width: 100%;
    }
    /* Latest Product Creating */
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    }
    .admin-row {
        grid-template-columns: repeat(auto-fill, minmax(46%, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    }
    .grid .col .btn-area {
        gap: 2rem;
    }
    .grid .col .btn-area a span {
        /* display: none; */
    }
    .grid .col .btn-area a i {
        font-size: 22px;
    }
    .all-products .product-list {
        flex-direction: column;
        align-items: left;
        text-align: justify;
        margin: 0.5rem 0;
        padding: 0.3rem 0;
        width: 100%;
    }
    .all-products .product-list .cart-col {
        text-align: justify;
        align-items: center;
        justify-content: left;
        margin: 0;
        padding: 0;
    }
    .cart-col span {
        margin: 0.3rem 0;
    }
    .all-products .product-list .cart-col img {
        height: 130px;
        margin: 0;
    }
}
